.logout_modal_main_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
  width: 232px;
  height: 196px;
  margin: 0 auto;
  /* padding: 32px 24px; */
  background: var(--primery-color-white);
  border-radius: 10px;
}

.log_out_title {
  color: var(--primery-color-black);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
  text-align: left;
}

.logout_confirm {
  width: 100%;
  color: var(--primery-color-black);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.11;
  text-align: left;
  white-space: nowrap;
}

.button_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}

.logout_btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primery-color-white);
  background-color: var(--secondary-color-3);
  width: 232px;
  height: 36px;
  padding: 8px 30px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
}

.cancel_btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--primery-color-blue);
  background-color: var(--secondary-color---5);
  width: 232px;
  height: 36px;
  padding: 8px 30px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .logout_modal_main_container {
    width: 544px;
    height: 160px;
    padding: 0px;
  }
  .logout_modal_main_container > *:last-child {
    align-self: flex-end;
  }

  .logout_confirm {
    font-size: 18px;
  }

  .button_container {
    flex-direction: row-reverse;
  }

  .logout_btn,
  .cancel_btn {
    width: 160px;
    height: 44px;
    justify-content: flex-start;
    padding: 10px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .logout_modal_main_container > *:last-child {
    align-self: flex-start;
  }
}
