.form {
  max-width: 280px;
  /* margin: 50px auto; */
  padding: 20px;
  text-align: left;
  background-color: none;
  border: none;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto;
  margin-bottom: 16px;
  text-align: left;
  color: #2f2f2f;
}

.fieldStyle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 18px;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.field {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  margin-top: 8px;
  font-weight: 400;
  position: relative; /* Додаємо для позиціонування іконки */
  transition: border-color 0.3s ease; /* Додаємо плавний перехід при зміні кольору рамки */
  color: #407bff;
}

.field:focus {
  outline: none; /* Прибирає стандартну підсвітку браузера */
  border-color: #407bff; /* Змінює колір рамки при фокусі */
  box-shadow: 0 0 4px rgba(64, 123, 255, 0.5); /* Додає легку тінь для кращої видимості */
}

/* Стили для поля з помилкою */
.field.error {
  border-color: #ff4d4d; /* Червоний колір рамки при помилці */
}

.field.error:focus {
  border-color: #ff4d4d; /* Залишає червоний колір рамки при фокусі, якщо є помилка */
  box-shadow: none; /* Прибирає тінь при помилці */
}

/* Обгортка для полів з паролем і іконкою */
.passwordWrapper {
  position: relative; /* Для позиціонування іконки всередині поля */
}

/* Іконка очей */
.eyeIcon {
  position: absolute;
  top: 14px; /* Відстань від верхньої межі поля вводу */
  bottom: 18px;
  right: 11px; /* Відстань від правої межі поля вводу */
  width: 24px;
  height: 24px;
  cursor: pointer;
  stroke: #407bff; /* Колір лінії */
  fill: white; /* Колір фону іконки */
}

/* Класи для помилки */
.error {
  color: #ff4d4d; /* Червоний колір для тексту помилки */
  font-size: 14px;
  margin-top: 4px; /* Відстань між полем і текстом помилки */
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 8px 30px 8px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #007bff;
}

.signinLink {
  background: none;
  display: block;
  border: none;
  font-size: 16px;
  color: #007bff;
  cursor: pointer;
  text-align: left;
}

@media (max-width: 767px) {
  .form {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-top: 24px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .label {
    font-size: 18px;
    color: #2f2f2f;
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .form {
    max-width: 336px;
    margin-left: 32px;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .label {
    margin-bottom: 0px;
  }
}

@media (min-width: 1440px) {
  .form {
    margin-top: 140px;
    margin-left: 840px;
    padding: 0;
    max-width: 384px;
  }
  .heading {
    font-size: 26px;
  }
}
