.form {
  max-width: 280px;
  /* margin: 50px auto; */
  padding: 20px;
  text-align: left;
  background-color: none;
  border: none;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto;
  margin-bottom: 16px;
  text-align: left;
  color: #2f2f2f;
}

.fieldStyle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 18px;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.field {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-top: 8px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 8px 30px 8px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #007bff;
}

.signinLink {
  background: none;
  display: block;
  border: none;
  font-size: 16px;
  color: #007bff;
  cursor: pointer;
  text-align: left;
}

@media (max-width: 767px) {
  .form {
    margin: 20px;
    padding: 16px;
  }
}

@media (min-width: 768px) {
  .form {
    max-width: 336px;
    margin-left: 32px;
  }
}

@media (min-width: 1440px) {
  .form {
    margin-top: 100px;
    margin-left: 840px;
    max-width: 384px;
  }
}
