.form {
  max-width: 280px;
  margin: 50px auto;
  padding: 20px;
  text-align: left;
  background-color: none;
  border: none;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto;
  margin-bottom: 16px;
  text-align: left;
  color: #2f2f2f;
}

.fieldStyle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 18px;
  color: #2f2f2f;
  margin-bottom: 8px;
  font-weight: 400;
}

.field {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  margin-top: 8px;
  font-weight: 400;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 8px 30px 8px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #007bff;
}

.signinLink {
  background: none;
  display: block;
  color: #007bff;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

@media (max-width: 767px) {
  .form {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-top: 24px;
  }
}

@media (min-width: 768px) {
  .form {
    max-width: 336px;
    margin-left: 32px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .label {
    margin-bottom: 0px;
  }
}

@media (min-width: 1440px) {
  .form {
    margin-top: 162px;
    margin-left: 840px;
    padding: 0;
    max-width: 384px;
  }
  .heading {
    font-size: 26px;
  }
}
