.modalOverlay {
  position: absolute;
  top: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 118px;
  height: 88px;
}

.modalContent {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
