.background {
  margin: 0 20px;
  background-color: #ecf2ff;
  border-radius: 10px;
  padding: 24px 16px;
}

.whyDrink {
  padding-bottom: 12px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 400;
}

.ulWhyDrink {
  list-style-type: none;
  padding: 0;
}

.ulWhyDrink li {
  position: relative;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.ulWhyDrink li:first-child {
  padding-top: 0;
}

.ulWhyDrink li:last-child {
  padding-bottom: 0;
}

.ulWhyDrink li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #407bff;
  border-radius: 50%;
}

.liFonts {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

@media (max-width: 767px) {
  .bottleIcon {
    display: none;
  }
}

@media (min-width: 768px) {
  .background {
    margin: 0 32px;
    padding: 32px 24px 50px;
    width: 494px;
    height: 332px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }

  .ulWhyDrink li {
    padding-right: 0;
  }
}

@media (min-width: 1440px) {
  .background {
    margin: 114px 0 0 0;
    padding-bottom: 0;
  }
}
