.containerUserAvatar {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  border: none;
  position: relative;
}

.namePhoto {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 400;
}

.nameUser {
  font-size: 18px;
}

.userAvatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.lettersContainer {
  display: flex;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: orange;
  align-items: center;
  justify-content: center;
}

.letters {
  font-size: 16px;
  font-weight: 500;
}

.button {
  border: none;
  color: #407bff;
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}

.iconArrow {
  width: 16px;
  height: 16px;
}
.openModal {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.buttonOpenAndCloseModal {
  font-size: 16px;
  font-weight: 300;
  width: 86px;
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  border: none;
  color: #407bff;
  background-color: transparent;
}

.iconSettingAndLogOut {
  width: 16px;
  height: 16px;
}
