.trackerContainer {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 439px;
    height: 366px;
}

.trackerContainer h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 42px;
}

.trackerContainer p {
    font-size: 26px;
    font-weight: 400;
    color: #2F2F2F;
    line-height: 32px;
    margin-bottom: 20px;
}

.trackerBenefits {
    margin-bottom: 20px;
}

.trackerBenefits h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.trackerBenefits ul {
    list-style: none;
    padding: 0;
    margin-bottom: 26px;
}

.trackerBenefits li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;;
}

.trackerBenefits img {
    margin-right: 10px;
}

.tryTrackerBtn {
    background-color: #407BFF;
    color: white;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.tryTrackerBtn:hover {
    cursor: pointer;
}