.containerSettings {
    display: flex;
    flex-direction: column;
}
.userAvatar {
    width: 100px;
    /* например, задать ширину */
    height: 100px;
    /* и высоту */
    border-radius: 50%;
    /* для круглого аватара */
}