.wrap {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .background {
    background-image: url(../img/mobile/background-main-page.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 767px) and (min-resolution: 192dpi),
  (max-width: 767px) and (min-device-pixel-ratio: 2) {
  .background {
    background-image: url(../img/mobile/background-main-page@2x.png);
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .background {
    background-image: url(../img/tablet/background-main-page.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 767px) and (min-device-pixel-ratio: 2) {
  .background {
    background-image: url(../img/tablet/background-main-page@2x.png);
    background-size: contain;
    background-size: cover;
  }
}

@media (min-width: 1440px) {
  .background {
    background-image: url(../img/desck/background-main-page.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 900px;
  }
}
@media (min-width: 1440px) and (min-resolution: 192dpi),
  (min-width: 1440px) and (min-device-pixel-ratio: 2) {
  .background {
    background-image: url(../img/desck/background-main-page@2x.png);
  }
}
