.wrap {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .background {
    background-image: url(../img/mobile/background-main-page.webp);
    background-repeat: no-repeat;
    background-position: center 70px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) and (min-resolution: 192dpi),
  (max-width: 767px) and (min-device-pixel-ratio: 2) {
  .background {
    background-image: url(../img/mobile/background-main-page@2x.webp);
    background-size: contain;
  }
}

@media (min-width: 768px) {
  .background {
    background-image: url(../img/tablet/background-main-page.webp);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 767px) and (min-device-pixel-ratio: 2) {
  .background {
    background-image: url(../img/tablet/background-main-page@2x.webp);
    background-size: contain;
  }
}

@media (min-width: 1440px) {
  .background {
    background-image: url(../img/desck/background-bable.png),
      url(../img/desck/background-main-page.webp);
    background-repeat: no-repeat;
    background-position: center calc(368px - 260px), bottom;
    height: 900px;
  }
}
@media (min-width: 1440px) and (min-resolution: 192dpi),
  (min-width: 1440px) and (min-device-pixel-ratio: 2) {
  .background {
    background-image: url(../img/desck/background-bable@2x.png),
      url(../img/desck/background-main-page@2x.webp);
  }
}
