@media (max-width: 767px) {
    .background {
      background-image: url(../img/mobile/background-bable.png),
      url(../img/mobile/backround-sign-mob_1x.webp);
      background-repeat: no-repeat;
      background-position: center 70px;
      padding-bottom: 40px;
      background-size: cover;
      display: flex;
    }
    .wrap{
        display: flex;
        justify-content: flex-end;
    }
  }
  @media (max-width: 767px) and (min-resolution: 192dpi),
    (max-width: 767px) and (min-device-pixel-ratio: 2) {
    .background {
      background-image: url(../img/mobile/backround-sign-mob_2x.webp);
      background-size: cover;
    }
  }
  
  @media (min-width: 768px) {
    .background {
      background-image: url(../img/tablet/background-bable.png),
      url(../img/tablet/backround-sign-tab_1x.webp);
      background-repeat: no-repeat;
      background-position: center;
      padding-bottom: 50px;
      background-size: cover;
    }
    .wrap{
        display: flex;
        justify-content: flex-end;
    }
  }
  @media (min-width: 768px) and (min-resolution: 192dpi),
    (min-width: 767px) and (min-device-pixel-ratio: 2) {
    .background {
      background-image: url(../img/tablet/backround-sign-tab_2x.webp);
      background-size: contain;
      background-size: cover;
    }
  }
  
  @media (min-width: 1440px) {
    .background {
      background-image: url(../img/desck/background-bable.png),
        url(../img/desck/backround-sign-desk_1x.webp);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .wrap{
        display: flex;
        justify-content: flex-end;
    }
  }
  @media (min-width: 1440px) and (min-resolution: 192dpi),
    (min-width: 1440px) and (min-device-pixel-ratio: 2) {
    .background {
      background-image: url(../img/desck/background-bable@2x.png),
        url(../img/desck/backround-sign-deck_2x.webp);
    }
    .wrap{
        display: flex;
        justify-content: flex-end;
    }
  }
  