.header {
  display: flex;
  padding: 8px 20px;
  justify-content: space-between;
  min-width: 320px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header {
    min-width: 768px;
  }
  .signIn {
    font-size: 18px;
  }
}
