.box {
    width: 100%;
    max-width: 320px;
  }
  
  @media screen and (min-width: 768px) {
    .box {
    max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .box {
      max-width: 1440px;
    }
  }