* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Roboto", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  letter-spacing: 0.04em;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 112px;
  }
}
