* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primery-color-white: #fff;
  --primery-color-black: #2f2f2f;
  --primery-color-blue: #407bff;
  --secondary-color-2: #ecf2ff;
  --secondary-color-3: #ef5050;
  --secondary-color-4: #9ebbff;
  --secondary-color-5: #ff9d43;
  --secondary-color---5: #d7e3ff;
  --color: #fff;
  --color-2: #2f2f2f;
  --color-3: #407bff;
  --color-4: #ecf2ff;
  --color-5: #ef5050;
  --color-6: #9ebbff;
  --color-7: #ff9d43;
  --color-8: #d7e3ff;
}

body {
  letter-spacing: 0.04em;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 112px;
  }
}
